<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>CallService</title>
	<meta name="description" content="CallService board" />
	<meta name="keywords" content="" />
	<meta name="author" content="hencework"/>

	<!-- Favicon -->
	<!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />



{% block stylesheets %}{% endblock %}

  <!-- select2 CSS -->
  <link href="{{ asset('light/vendors/bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" type="text/css"/>

	<!-- bootstrap-select CSS -->
	<link href="{{ asset('light/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css"/>

	<!-- bootstrap-tagsinput CSS -->
	<link href="{{ asset('light/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css"/>

	<!-- bootstrap-touchspin CSS -->
	<link href="{{ asset('light/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" type="text/css"/>

	<!-- multi-select CSS -->
	<link href="{{ asset('light/vendors/bower_components/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css"/>

	<!-- Bootstrap Switches CSS -->
	<link href="{{ asset('light/vendors/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>


	<!-- Custom Fonts -->
		<link href="{{ asset('light/dist/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">


	<!-- Custom CSS -->
	<link href="{{ asset('light/dist/css/style.css') }}" rel="stylesheet" type="text/css">




	<!-- --------------------js scripts-------------------- -->

	<!-- jQuery -->
	<script src="{{ asset('light/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('light/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js') }}"></script>

	<script src="{{ asset('light/vendors/bower_components/moment/min/moment.min.js') }}"></script>
  <!-- Progressbar Animation JavaScript -->
  <script src="{{ asset('light/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js') }}"></script>

	<!-- Data table JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('light/vendors/bower_components/FooTable/compiled/footable.min.js') }}" type="text/javascript"></script>
	<!-- Slimscroll JavaScript -->
	<script src="{{ asset('light/dist/js/jquery.slimscroll.js') }}"></script>


	<!-- Bootstrap-table JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/filament-tablesaw/dist/tablesaw.js') }}"></script>
	<script src="{{ asset('light/dist/js/tablesaw-data.js') }}"></script>




	<!-- Bootstrap Datetimepicker JavaScript -->
	<script type="text/javascript" src="{{ asset('light/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

	<!-- Bootstrap Daterangepicker JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

	<!-- Calender JavaScripts -->
	<script src="{{ asset('light/vendors/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('light/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('light/dist/js/fullcalendar-data.js') }}"></script>

	<!-- Fancy Dropdown JS -->
	<script src="{{ asset('light/dist/js/dropdown-bootstrap-extended.js') }}"></script>

	<!-- Bootstrap Select JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>

	<!-- Bootstrap Tagsinput JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>

	<!-- Bootstrap Touchspin JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js') }}"></script>

	<!-- Multiselect JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/multiselect/js/jquery.multi-select.js') }}"></script>

	<!-- Bootstrap Datetimepicker JavaScript -->
	<script type="text/javascript" src="{{ asset('light/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

	<!-- Data table JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('light/vendors/bower_components/editable-table/mindmup-editabletable.js') }}"></script>
	<script src="{{ asset('light/vendors/bower_components/editable-table/numeric-input-example.js') }}"></script>

	<!-- Owl JavaScript -->
	<script src="{{ asset('light/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js') }}"></script>
  <!-- Switchery JavaScript -->
  <script src="{{ asset('light/vendors/bower_components/switchery/dist/switchery.min.js') }}"></script>


	<!-- Init JavaScript -->
	<script src="{{ asset('light/dist/js/init.js') }}"></script>
	<!-- <script src="dist/js/dashboard-data.js"></script> -->
</head>

<body>

    <div class="wrapper theme-1-active pimary-color-green">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap">
						<a href="/">
							<img class="brand-img mr-10" src="{{ asset('favicon.ico') }}" height="30" alt="brand"/>
							<span class="brand-text">CallService</span>
						</a>
					</div>
				</div>
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
				{% if false %}
					<form id="search_form" role="search" class="top-nav-search collapse pull-left">
						<div class="input-group">
							<input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
							<span class="input-group-btn">
							<button type="button" class="btn  btn-default"  data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
							</span>
						</div>
					</form>
				{% endif %}
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
					{% if false %}
						<li>
							<a id="open_right_sidebar" href="#"><i class="zmdi zmdi-settings top-nav-icon"></i></a>
						</li>
					{% endif %}
					{% if false %}
						<li class="dropdown app-drp">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-apps top-nav-icon"></i></a>
							<ul class="dropdown-menu app-dropdown" data-dropdown-in="slideInRight" data-dropdown-out="flipOutX">
								<li>
									<div class="app-nicescroll-bar">
										<ul class="app-icon-wrap pa-10">
											<li>
												<a href="weather.html" class="connection-item">
												<i class="zmdi zmdi-cloud-outline txt-info"></i>
												<span class="block">weather</span>
												</a>
											</li>
											<li>
												<a href="inbox.html" class="connection-item">
												<i class="zmdi zmdi-email-open txt-success"></i>
												<span class="block">e-mail</span>
												</a>
											</li>
											<li>
												<a href="calendar.html" class="connection-item">
												<i class="zmdi zmdi-calendar-check txt-primary"></i>
												<span class="block">calendar</span>
												</a>
											</li>
											<li>
												<a href="vector-map.html" class="connection-item">
												<i class="zmdi zmdi-map txt-danger"></i>
												<span class="block">map</span>
												</a>
											</li>
											<li>
												<a href="chats.html" class="connection-item">
												<i class="zmdi zmdi-comment-outline txt-warning"></i>
												<span class="block">chat</span>
												</a>
											</li>
											<li>
												<a href="contact-card.html" class="connection-item">
												<i class="zmdi zmdi-assignment-account"></i>
												<span class="block">contact</span>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="app-box-bottom-wrap">
										<hr class="light-grey-hr ma-0"/>
										<a class="block text-center read-all" href="javascript:void(0)"> more </a>
									</div>
								</li>
							</ul>
						</li>
					{% endif %}
					{% if false %}
						<li class="dropdown full-width-drp">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-more-vert top-nav-icon"></i></a>
							<ul class="dropdown-menu mega-menu pa-0" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
								<li class="product-nicescroll-bar row">
									<ul class="pa-20">
										<li class="col-md-3 col-xs-6 col-menu-list">
											<a href="javascript:void(0);"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
											<hr class="light-grey-hr ma-0"/>
											<ul>
												<li>
													<a href="index.html">Analytical</a>
												</li>
												<li>
													<a href="index2.html">Demographic</a>
												</li>
												<li>
													<a href="index3.html">Project</a>
												</li>
												<li>
													<a href="index4.html">Hospital</a>
												</li>
												<li>
													<a href="index5.html">HRM</a>
												</li>
												<li>
													<a href="index6.html">Real Estate</a>
												</li>
												<li>
													<a href="profile.html">profile</a>
												</li>
											</ul>
										</li>
										<li class="col-md-3 col-xs-6 col-menu-list">
											<a href="javascript:void(0);">
												<div class="pull-left">
													<i class="zmdi zmdi-shopping-basket mr-20"></i><span class="right-nav-text">E-Commerce</span>
												</div>
												<div class="pull-right"><span class="label label-success">hot</span>
												</div>
												<div class="clearfix"></div>
											</a>
											<hr class="light-grey-hr ma-0"/>
											<ul>
												<li>
													<a href="e-commerce.html">Dashboard</a>
												</li>
												<li>
													<a href="product.html">Products</a>
												</li>
												<li>
													<a href="product-detail.html">Product Detail</a>
												</li>
												<li>
													<a href="add-products.html">Add Product</a>
												</li>
												<li>
													<a href="product-orders.html">Orders</a>
												</li>
												<li>
													<a href="product-cart.html">Cart</a>
												</li>
												<li>
													<a href="product-checkout.html">Checkout</a>
												</li>
											</ul>
										</li>
										<li class="col-md-6 col-xs-12 preview-carousel">
											<a href="javascript:void(0);"><div class="pull-left"><span class="right-nav-text">latest products</span></div><div class="clearfix"></div></a>
											<hr class="light-grey-hr ma-0"/>
											<div class="product-carousel owl-carousel owl-theme text-center">
												<a href="#">
													<img src="dist/img/chair.jpg" alt="chair">
													<span>Circle chair</span>
												</a>
												<a href="#">
													<img src="dist/img/chair2.jpg" alt="chair">
													<span>square chair</span>
												</a>
												<a href="#">
													<img src="dist/img/chair3.jpg" alt="chair">
													<span>semi circle chair</span>
												</a>
												<a href="#">
													<img src="dist/img/chair4.jpg" alt="chair">
													<span>wooden chair</span>
												</a>
												<a href="#">
													<img src="dist/img/chair2.jpg" alt="chair">
													<span>square chair</span>
												</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					{% endif %}

					<li class="dropdown alert-drp">
						{% if false %}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-notifications top-nav-icon"></i><span class="top-nav-icon-badge">5</span></a>
							<ul  class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
								<li>
									<div class="notification-box-head-wrap">
										<span class="notification-box-head pull-left inline-block">notifications</span>
										<a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>
										<div class="clearfix"></div>
										<hr class="light-grey-hr ma-0"/>
									</div>
								</li>
								<li>
									<div class="streamline message-nicescroll-bar">
										<div class="sl-item">
											<a href="javascript:void(0)">
												<div class="icon bg-green">
													<i class="zmdi zmdi-flag"></i>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font  pull-left truncate head-notifications">
													New subscription created</span>
													<span class="inline-block font-11  pull-right notifications-time">2pm</span>
													<div class="clearfix"></div>
													<p class="truncate">Your customer subscribed for the basic plan. The customer will pay $25 per month.</p>
												</div>
											</a>
										</div>
										<hr class="light-grey-hr ma-0"/>
										<div class="sl-item">
											<a href="javascript:void(0)">
												<div class="icon bg-yellow">
													<i class="zmdi zmdi-trending-down"></i>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font  pull-left truncate head-notifications txt-warning">Server #2 not responding</span>
													<span class="inline-block font-11 pull-right notifications-time">1pm</span>
													<div class="clearfix"></div>
													<p class="truncate">Some technical error occurred needs to be resolved.</p>
												</div>
											</a>
										</div>
										<hr class="light-grey-hr ma-0"/>
										<div class="sl-item">
											<a href="javascript:void(0)">
												<div class="icon bg-blue">
													<i class="zmdi zmdi-email"></i>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font  pull-left truncate head-notifications">2 new messages</span>
													<span class="inline-block font-11  pull-right notifications-time">4pm</span>
													<div class="clearfix"></div>
													<p class="truncate"> The last payment for your G Suite Basic subscription failed.</p>
												</div>
											</a>
										</div>
										<hr class="light-grey-hr ma-0"/>
										<div class="sl-item">
											<a href="javascript:void(0)">
												<div class="sl-avatar">
													<img class="img-responsive" src="dist/img/avatar.jpg" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font  pull-left truncate head-notifications">Sandy Doe</span>
													<span class="inline-block font-11  pull-right notifications-time">1pm</span>
													<div class="clearfix"></div>
													<p class="truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</a>
										</div>
										<hr class="light-grey-hr ma-0"/>
										<div class="sl-item">
											<a href="javascript:void(0)">
												<div class="icon bg-red">
													<i class="zmdi zmdi-storage"></i>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font  pull-left truncate head-notifications txt-danger">99% server space occupied.</span>
													<span class="inline-block font-11  pull-right notifications-time">1pm</span>
													<div class="clearfix"></div>
													<p class="truncate">consectetur, adipisci velit.</p>
												</div>
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="notification-box-bottom-wrap">
										<hr class="light-grey-hr ma-0"/>
										<a class="block text-center read-all" href="javascript:void(0)"> read all </a>
										<div class="clearfix"></div>
									</div>
								</li>
							</ul>
						{% else %}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-notifications top-nav-icon"></i></a>
							<ul  class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
								<li>
									<div class="notification-box-head-wrap">
										<span class="notification-box-head pull-left inline-block">Уведомления</span>
										{% if false %}
											<a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>
										{% endif %}
										<div class="clearfix"></div>
										<hr class="light-grey-hr ma-0"/>
									</div>
								</li>
								<li>
									<div class="streamline message-nicescroll-bar">
										<div class="sl-item">
											<a href="javascript:void(0)">
												<div class="icon bg-green">
													<i class="zmdi zmdi-alert-triangle"></i>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font  pull-left truncate head-notifications">
													Нет уведомлений</span>
													<!-- <span class="inline-block font-11  pull-right notifications-time">2pm</span> -->
													<div class="clearfix"></div>
													<p class="truncate">О новых уведомлениях можно узнать по зелёному кружку.</p>
												</div>
											</a>
										</div>
									</div>
								</li>
								{% if false %}
									<li>
										<div class="notification-box-bottom-wrap">
											<hr class="light-grey-hr ma-0"/>
											<a class="block text-center read-all" href="javascript:void(0)"> read all </a>
											<div class="clearfix"></div>
										</div>
									</li>
								{% endif %}
							</ul>
						{% endif %}

					</li>
					<li class="dropdown auth-drp">
						<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
							<img src="{{ asset('light/dist/img/user1.png') }}" alt="user_auth" class="user-auth-img img-circle"/>
							{% if false %}
								<span class="user-online-status"></span>
							{% endif %}
						</a>
						<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
							{% if false %}
								<li>
									<a href="profile.html"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
								</li>
							{% endif %}
							{% if false %}
								<li>
									<a href="#"><i class="zmdi zmdi-card"></i><span>my balance</span></a>
								</li>
							{% endif %}
							{% if false %}
								<li>
									<a href="inbox.html"><i class="zmdi zmdi-email"></i><span>Inbox</span></a>
								</li>
							{% endif %}
							{% if false %}
								<li>
									<a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
								</li>
								<li class="divider"></li>
							{% endif %}
							{% if false %}
								<li class="sub-menu show-on-hover">
									<a href="#" class="dropdown-toggle pr-0 level-2-drp"><i class="zmdi zmdi-check text-success"></i> available</a>
									<ul class="dropdown-menu open-left-side">
										<li>
											<a href="#"><i class="zmdi zmdi-check text-success"></i><span>available</span></a>
										</li>
										<li>
											<a href="#"><i class="zmdi zmdi-circle-o text-warning"></i><span>busy</span></a>
										</li>
										<li>
											<a href="#"><i class="zmdi zmdi-minus-circle-outline text-danger"></i><span>offline</span></a>
										</li>
									</ul>
								</li>
								<li class="divider"></li>
							{% endif %}
							<li>
								<a href="/ajax/logout.php"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <div class="fixed-sidebar-left">
  		<ul class="nav navbar-nav side-nav nicescroll-bar">
  			<li class="navigation-header">
  				<span>Главная</span>
  				<i class="zmdi zmdi-more"></i>
  			</li>
  			<li>
  				<a href="/dashboard.php"><div class="pull-left"><i class="zmdi zmdi-flag mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
  			</li>
  			<li>
  			  <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#reports_dr"><div class="pull-left"><i class="zmdi zmdi-email-open mr-20"></i><span class="right-nav-text">Отчёты</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
  				<ul id="reports_dr" class="collapse collapse-level-1">
  					<li>
  						<a  href="/statistic/">Отчёт №1</a>/sym/call/web/app_dev.php
  					</li>
  					<li>
  						<a  href="/ajax/export.php">Отчёт №2</a>
  					</li>
            <li>
  						<a  href="/statistic/sovest.php">Отчёт №3</a>
  					</li>
  				</ul>
  			</li>
  			<li>
  				<a  href="javascript:void(0);" data-toggle="collapse" data-target="#matcing_dr"><div class="pull-left"><i class="zmdi zmdi-edit mr-20"></i><span class="right-nav-text">Сверка</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
  				<ul id="matcing_dr" class="collapse collapse-level-1">
  					<li>
  						<a  href="/approved.php">Сверка №1</a>
  					</li>
  					<li>
  						<a  href="/reconciliation/sovest.php">Сверка №2</a>
  					</li>
  				</ul>
  			</li>

  			<li><hr class="light-grey-hr mb-10"/></li>
  			<li class="navigation-header">
  				<span>Автоинформатор</span>
  				<i class="zmdi zmdi-more"></i>
  			</li>
  			<li>
  				<a  href="javascript:void(0);" data-toggle="collapse" data-target="#callind_dr"><div class="pull-left"><i class="zmdi zmdi-phone-setting mr-20"></i><span class="right-nav-text">Автоинформатор</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
  				<ul id="callind_dr" class="collapse collapse-level-1">
            <li>
              <a  href="/sym/call/web/app_dev.php/dial">На главную</a>
            </li>
            <li>
              <a  href="/sym/call/web/app_dev.php/dial/add">Добавить</a>
            </li>
            <li>
              <a  href="/sym/call/web/app_dev.php/dial/report">Отчёт</a>
            </li>
  				</ul>
  			</li>
  			<li>
  				<a  href="javascript:void(0);" data-toggle="collapse" data-target="#tools_dr"><div class="pull-left"><i class="zmdi zmdi-folder-outline mr-20"></i><span class="right-nav-text">Инструменты</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
  				<ul id="tools_dr" class="collapse collapse-level-1">
  					<li>
  						<a  href="/office/">Заглушка #1</a>
  					</li>
  				</ul>
  			</li>
  			<li><hr class="light-grey-hr mb-10"/></li>
  			<li class="navigation-header">
  				<span>База данных</span>
  				<i class="zmdi zmdi-more"></i>
  			</li>
  			<li>
  				<a  href="javascript:void(0);" data-toggle="collapse" data-target="#bace_dr"><div class="pull-left"><i class="zmdi zmdi-grid mr-20"></i><span class="right-nav-text">база данных</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
  				<ul id="bace_dr" class="collapse collapse-level-1">
  					<li>
  						<a  href="/database/x2">База данных #1</a>
  					</li>
						<li>
							<a  href="/ops/">База данных #2</a>
						</li>
  				</ul>
  			</li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li><div class="form-group"><p></p></div></li>
  			<li class="navigation-header">
  				<span>Ссылка на базовый шаблон</span>
  				<i class="zmdi zmdi-more"></i>
  			</li>
  			<li>
  				<a href="/admin/light/"><div class="pull-left"><i class="zmdi zmdi-copy mr-20"></i><span class="right-nav-text">widgets</span></div><div class="clearfix"></div></a>
  			</li>
  		</ul>
  	</div>
    <!-- /Left Sidebar Menu -->

			<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container-fluid pt-25">

						<!-- Title -->
						<div class="row heading-bg">
							<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
								<h5 class="txt-dark">Заголовок</h5>
							</div>
							<!-- Breadcrumb -->
							<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
								<ol class="breadcrumb">
									<li><a href="/call">Autodial</a></li>
									<li class="active"><span>{{ breadcrumbs }}</span></li>
								</ol>
							</div>
							<!-- /Breadcrumb -->
						</div>
						<!-- /Title -->

			<!-- Row -->
			<div class="panel panel-default card-view">



{% block body %}{% endblock %}

<br>
<br>
</div>


<!-- /Row -->

</div>

<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30" style="z-index:-1">
<div class="row">
	<div class="col-sm-12">
		<p>2017 &copy; Studioxy</p>
	</div>
</div>
</footer>
<!-- /Footer -->

</div>
<!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->




</body>

</html>
